
.contenedor{

background-size: auto; 
background-repeat: no-repeat;
height: 500vh; 
width: 500vh; 


 }; 
 
 .almendra-regular {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almendra-bold {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almendra-regular-italic {
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .almendra-bold-italic {
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: italic;
  }
body{
background-image: url("gif/fondo2jpg.jpg");
background-size: cover;
background-position: center;
background-repeat:no-repeat;
height: 100vh;
}